/* book shelf */

@font-face {
    font-family: 'Shabnam-FD-WOL';
    src: url('../font/Shabnam-FD-WOL.eot') format('embedded-opentype');
    src: url('../font/Shabnam-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('../font/Shabnam-FD-WOL.ttf') format('truetype'),
    url('../font/Shabnam-FD-WOL.woff') format('woff');
}

html , body{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

footer{
    border-top: 1px solid #ced4da;
}

ul{
    padding-right: 0 !important;
    margin-bottom: 0 !important;
}

.navbar{
    --bs-navbar-padding-y: 0;
}

*:not(i){
    font-family: var(--font-family) !important;
}

p{
    margin-bottom: 0 !important;
}

:root{
    --nav-padding:1rem;
    --navbar-backgraund-theme-color: linear-gradient(to right, rgb(0, 255, 136) , rgb(139, 219, 224));
    --backgraund-theme-color2:#fff;
    --text-color:rgb(10, 5, 5);
    --font-family:'Shabnam-FD-WOL';
    --btns-width:40px;
    --btn-height:40px;
    --btns-color:#32972e;
    --border-color:#ced4da;
    --font-size: 2.5rem ;
}
.input{
    display: block;
    outline: none;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.center-flex{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.line-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* login page */

.Enter{
    width: 100%;
    height: 44px;
    font-size: 1.2rem;
    color: rgb(39, 33, 33);
    background-image: var(--navbar-backgraund-theme-color);
    border:solid #ced4da 2px ;
    border-radius: 5px;
    cursor: pointer;
}
.navbar-container img{
    width: var(--btns-width);
    height: var(--btn-height);
    margin-left: 0.9rem;
}
.fa-bars{
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.copyright{    
    margin: 20px;
    border-top: 1px solid #ced4da;
    align-items: center;
}
.copyright ul li{
    list-style: none;
    margin-left: 10px;
}

/* visitor panel */
.fa-info , .fa-house-chimney{
    color: rgb(23, 21, 134);
    font-size: 23px;
}
.fa-solid:not(.fa-bars){
    color: rgb(15, 15, 22);
    font-size: 14px;
    margin-left: 10px;
}
.navbar-items{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
}
.navbar-items li{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight:bolder;
    margin-right: 15px;
    color: rgb(0, 0, 0);    
    padding:3px 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.compani-btn{
    width: 90%;
    align-items: center;
    padding: 15px;
    margin: 20px auto;
    font: bold 16px var(--font-family);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    border: inset rgb(179, 179, 179) 1px;
}

.compani-btn:nth-child(even){
    background-image:linear-gradient(rgb(149, 240, 225) , rgb(60, 199, 218));
}

.compani-btn:nth-child(odd){
    background-image:linear-gradient(rgb(12, 154, 179) , rgb(1, 128, 167));
}
.compani-btn:hover{
    border-radius: 10px;
    transition: .5s;
    background-image: none;
    background-color:rgba(45, 235, 156, 0.801);
}
.compani-btn > span{
    margin-right: 15px;
}
.compani-btn > img{
    width: auto;
    height: 30px;
}
.hamburger-menu{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(113, 212, 171, 0.993);
    transition: .1s;
    overflow: auto;
}
.hamburger-menu li{
    display: block;
    width: 100%;
    text-align: right;
    font-family: var(--font-family);
    font-size: 1.2rem;
    border-bottom:solid gray 1px;
    color: rgb(12, 73, 82);
    padding: 1rem;
    cursor: pointer;
}
.hamburger-menu li:hover{
    background-color: aquamarine;
    transition: .2s;
}
.add-compani{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    bottom: 0px;
    left: 0px;
    margin: 10px;
    border-radius: 50%;
    border: solid rgb(58, 58, 58) 2px;
    width: var(--btns-width);
    height: var(--btn-height);
    color: white;
}
.close-menu{
    position: absolute;
    display: none;
    
}
.visibaled{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.253);
    z-index: 999;
    border: none;
}
.hamburger-menu a , .hamburger-menu a:visited , .hamburger-menu a:active{
    text-decoration: none;
    color: #0000EE;
}


@media screen and (min-width:0px) and (max-width:570px){

    .navbar{
        width: 100%;
        color: var(--text-color);
        background: var(--navbar-backgraund-theme-color);
        padding-top: var(--nav-padding);
        padding-bottom: var(--nav-padding);
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        z-index: 1;
    }

    .navbar > .navbar-container{
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        margin-right: 0.9rem;
        font-size: 1.2rem;
    }

    .footer-card{
        width: 100%;
        height: 500px;
        margin-top: 100px;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        text-align: center;
        row-gap: 50px;
        justify-content: center;
    }
    .footer-card p{
        color: #6c757d;
    }

        
    .show{
        width: 55%;
    }

    
    .new-item{
        position: relative;
        direction: rtl;
        margin: 30px auto;
        padding: 10px;
        width: 80%;
        border:solid rgb(175, 170, 170) 1px;
        border-radius: 5px;
    }


    
    .filters{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 10px;
    }

}

@media screen and (min-width:571px){

    .navbar{
        width: 100%;
        color: var(--text-color);
        background-image: var(--navbar-backgraund-theme-color);
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }

    .navbar > .navbar-container{
        position: relative;
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        padding:var(--nav-padding) ;
        font-size: 1.2rem;
    }

    .footer-card{
        text-align: center;
        width: 100%;
        height: 200px;
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 50px;
    }
    .footer-card p{
        color: #6c757d;
    }

    .add-compani{
        display: none;
    }
  
    .show{
        width: 220px;
    }

    .new-item{
        position: relative;
        direction: rtl;
        margin: 30px auto;
        padding: 10px;
        width: 400px;
        border:solid rgb(175, 170, 170) 1px;
        border-radius: 5px;
    }

    .add-basket{
        display: grid;
        grid-template-columns: 1fr 2fr ;
        direction: rtl;
        align-content: center;
        justify-content: center;
        justify-items: stretch;
        align-items: center;
    }

}

