@font-face {
    font-family: 'Shabnam-FD-WOL';
    src: url('./assets/Shabnam-FD-WOL.eot') format('embedded-opentype');
    src: url('./assets/Shabnam-FD-WOL.eot?#iefix') format('embedded-opentype');
    src: url('./assets/Shabnam-FD-WOL.ttf') format('truetype');
    src: url('./assets/Shabnam-FD-WOL.woff') format('woff');
}

$font-family-shabnam:"Shabnam-FD-WOL";